<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fusion.service.MemberMapper">

    <insert id="signUpPost" parameterType="com.fusion.domain.SignUpVO">
        INSERT INTO MEMBER_TBL (M_NO, USERNAME, PASSWORD, NAME)
        VALUES (MEMBER_SEQ.NEXTVAL, #{username}, #{password}, #{name})
    </insert>

</mapper>